.rectangle_position {
    background-color:white;
    border: 1px solid black;
    width: 175px;
    height: 100px;  
    margin-left: 15px;
    margin-top: 20px;
}

.circle_position {
    background-color: brown;
    position: top;
    border-radius: 50%;
    width: 70px;
    height: 70px; 
    margin-left: 50px;
    margin-top: 13px;
}

.rectangle_transform {
    background-color:white;
    border: 1px solid black;
    width: 175px;
    height: 100px;  
    transform:translate(15px, 20px);
}

.circle_transform {
    background-color: brown;
    position: top;
    border-radius: 50%;
    width: 70px;
    height: 70px; 
    transform:translate(50px, 13px);
}


